a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.content-css span:nth-child(2) {
  color: red;
  padding-left: 5px;
}
.my-anchor-css-class {
  color: red;
  font-size: 14px;
}

.react-multi-carousel-item {
  width: 140px !important;
}

.react-multiple-carousel__arrow--right {
  right: calc(0% + 1px) !important;
}

.react-multiple-carousel__arrow--left {
  left: calc(0% + 1px) !important;
}
